/*General settings for basic html*/
body, html {
	height: 100%;
	width: 100%;
}
h1, h2, h3, h4, h5, h6, p, a, hr{
	color: white;
}

/*Color Settings*/
.colorOne{
	background-color: #2a2a2a;
}

.colorTwo{
	background-color: #BF8F60;
}

.colorThree{
	background-color: #3D6B5F;
}

.colorFour{
	
}

/*TopNav stuff*/
#topNav{
	position: sticky;
	top: 0;
	color: white;
	margin-left: 15%;
}

#topNav .nav-link{
	background-color: #3D6B5F;
	margin: 0 10px;
}

#topNav .nav-link:link{
	color: white;
}

#topNav .nav-link:visited{
	color: white;
}

#topNav .nav-link:hover{
	text-decoration: none;
	background-color: #2a2a2a;
	color: white;
}

#topNav .active{
	text-decoration: none;
	background-color: #BF8F60;
	color: white;
}

/*button*/
#sideButton{
    position: fixed;
	visibility: hidden;
	padding-top: 40px;
}
	
/*Sidebar stuff*/
#sideBar{
	padding-top: 40px;
    height: 100%;
	width: 15%;
    position: fixed;
    /*z-index: 1;*/
    overflow-x: hidden;
	/*box-shadow: 10px 2px 1px rgba(113, 139, 126, 1);*/
}

.headshot{
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#sideBar hr{
	border: 0;
	height: 1px;
	width: 100%;
	background-color: white;
}

/*Sidebar Navigation*/
#sideNav ul li{
	border-bottom: 1px solid gray;
	width: 100%;
	text-align: center;
}

#sideNav .nav-link{
	background-color: #3D6B5F;
}

#sideNav .nav-link:link{
	color: white;
}

#sideNav .nav-link:visited{
	color: white;
}

#sideNav .nav-link:hover{
	text-decoration: none;
	background-color: #2a2a2a;
	color: white;
}

#sideNav .active{
	text-decoration: none;
	background-color: #BF8F60;
	color: white;
}

/*Main page Content*/
.wrapper{
   height: 100%;
   width: 100%;
}

#mainContainer{
	padding-top: 5%;
	margin-left: 15%;
	width: 85%;
	height: 100%;
}

/*Container that holds the information*/
#infoContainer{
	height: 90%;
	width: 90%;
	overflow-y: auto;
}
